.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  background-image: url("assets/78792.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.form {
  color: black;
  background-color: #eee;
  padding: 10px;
  display: block;
  width: 1000px;
  margin: 50px auto;
}
.result-div {
  color: black;
  background-color: #eee;
  padding: 20px;
  width: 1000px;
  margin: 50px auto 0;
}
.result-div img {
  width: 960px;
}
.result-div h2 {
  font-size: 20px;
}
