@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #20282b !important;
  background-image: url("assets/78792.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Otomanopee One", sans-serif !important;
}
.form {
  color: black;
  background-color: #eee;
  padding: 10px;
  display: block;
  width: 75%;
  margin: 50px auto;
  font-weight: bold;
}
.form .form-label {
  font-size: 32px !important;
}
.result-div {
  color: black;
  background-color: #fff;
  /* padding: 20px; */
  width: 75%;
  margin: 50px auto 50px;
  text-align: center;
}
.result-div img {
  width: 100%;
  border: 1px solid #000;
  /* border: 1px solid #17a2b8; */
}
.result-div h2 {
  font-size: 20px;
  padding-left: 10px;
  color: #b3b3b3;
}
.header {
  /* text-align: center; */
  height: 100px;
  background-color: #eee;
  border-bottom: 1px solid black;
}

.header h1 {
  color: #000;
  font-size: 58px;
  font-weight: bold;
  display: inline-block;
  line-height: 1.4;
}
.header img {
  height: 90px;
  display: inline-block;
  padding: 0 10px 14px;
}
